*.synctex.gz

*.pyg

*.out

*.aux

*.fdb_latexmk

*.log

TOC.fls

*.fls

*.toc

/LabOne/Lab Manual/Manual.lof
/LabOne/Lab Manual/Manual.blg
/LabOne/Lab Manual/Manual.bbl

/LabOne/Verilog/QuartusProject/CPE64-Lab1.sta.rpt.htm_files/css/sscq_home.css

*.css

*.bak

*.bbl

/LabThree/LabManual/Manual.lof
/LabThree/LabManual/Manual.blg

/LabThree/LabManual/Output/Manual.lof
